/Test/nbproject/private/
/Test/build/
/StroreMangement/StoreManagementProFinal/build/
/StroreMangement/StoreManagementProFinal/nbproject/private/
/StoreManagementProFinal/build/
/StoreManagementProFinal/nbproject/private/
/StoreManagementProFinal/dist/
/StroreMangement/dist/
